* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    /* -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll; */
}


/* body::-webkit-scrollbar {
    display: none;
} */

.cover {
    width: 100%;
    height: 100%;
    
}

iframe {
    width: 100%;
    height: 650px;
}

nav {
    float: left;
    position: fixed;
    height: 100%;
    width: 20%;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffffe8;
    display: block;
}

.container {
    float: right;
    width: 78%;
    /* font-size: 28px; */
    overflow: hidden;
}

.trongsuot {
    position: fixed;
    z-index: 2;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.giohangngoai {
    position: fixed;
    z-index: 3;
    background-color: #F5F5F5;
    width: 80%;
    height: 100%;
    transition: 0.4s ease-in-out;
}

.timkiem {
    display: flex;
    justify-content: center;
    position: fixed;
    margin-top: 5%;
    z-index: 4;
    background-color: white;
    width: 80%;
    height: 10%;
}

.timkiem input {
    border: none;
    margin-left: 3%;
    width: 70%;
    font-size: large;
}

.timkiem .bi-search {
    margin-top: 70%;
    width: 100%;
    height: 40%;
    color: black;
}

.timkiem .bi-search:hover {
    color: #8ccccd;
}

.timkiem .bi-x {
    margin-top: 70%;
    width: 100%;
    height: 40%;
    color: black;
}

.timkiem .bi-x:hover {
    color: #8ccccd;
}

.timkiem input:focus {
    outline-width: 0;
}

img {
    width: 100%;
}

#menu .icon {
    width: 100%;
    display: flex;
    justify-content: center;

}

#menu .icon svg {
    padding: 6px;
    color: #7d7f96;
    margin-bottom: 30px;
    width: 47%;
}

#menu .icon svg:hover {
    color: #8ccccd;
}

.logo {
    margin: 0 auto;
    width: 70%;
    padding: 40px;

}

.logo img {
    width: 100%;
}
.menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    text-align: center;
    height: 320px;
    overflow: auto;
}

.menu a {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
}

.menu a:hover {
    color: #8ccccd;
    background-color: #f7f7f7;
    text-decoration: underline;
}

.menu a,
.hotline a {
    text-decoration: none;
    color: black;
}

.hotline a:hover {
    color: #8ccccd;
    text-decoration: underline;
}

.hotline img {
    width: 30px;
}

.hotline {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.hotline a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 8px 5px 8px 5px;
    color: white;
    background-color: black;
    line-height: 170%;
    width: 140px;
    text-align: center;
}

.nen-tang {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nen-tang svg {
    margin: 10px;
    margin-top: 20px;
    color: #7d7f96;
}

.nen-tang svg:hover {
    color: #8ccccd;
    border-bottom: 1px solid black;
}

.nen-tang img {
    margin-top: 20px;
    width: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    width: 35%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.divider pre {
    font-size: small;
}

.divider::after,
.divider::before {
    content: "";
    border-bottom: 0.1mm solid black;
    flex: 1;
}

.new {
    text-align: center;
}

.new a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-decoration: none;
    font-size: larger;
}

.new a:hover {
    color: #8ccccd;
}
header {
    position: relative;
    width: 100%;
}
.load {
    height: 100%;
    display: flex;
    justify-content: center;
}

.load img {
    width: 45%;
    padding: 30px 15px 30px 15px;
}
/* Sản phẩm */
.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.col {
    position: relative;
    overflow: hidden;
    margin: 0px 5px 30px 5px;
    width: 23%;
    box-shadow: 3px 5px 9px 3px rgba(0, 0, 0, 0.2);
}
.col a {
    text-decoration: none;
}

.col-img {
    position: relative;
    overflow: hidden;
    width: 100%;

}
.col img.img-main {
    transition: .3s ease-in-out;
    display: block;
    width: 100%;
    cursor: pointer;

}
.col-img:hover img.img-main {
    transform: scale(1.1,1.1);
}
.card-module {
    position: absolute; /* add this line */
    bottom: 10px; /* adjust this value to position the bubble */
    right: 10px; /* adjust this value to position the bubble */
    background-color: white;
    color: black;

    /* width: 30px;
    height: 30px; */
 
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 2px 5px;   
    border-radius: 3px;

    cursor: pointer;

}
.card-module .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4px;
    
}
.card-module .icon img {
    width: 13.5px;
    height: 11.5px!important;

}
.card-module .count{
    font-size: 14px;
}
.card-view {
    display: flex;
    flex-direction: column;
}
.card-view .name {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap; /* add this line */
    overflow: hidden; /* optional, adds ellipsis if the text overflows */
    text-overflow: ellipsis; /* optional, adds ellipsis if the text overflows */
    margin: 1px auto;
}
.card-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 10px;
    align-items: center;
}
.card-footer .price {
    font-size: 12px;
    font-weight: 500;
    /* line-height: 18px; */
}
.card-footer button {
    display: flex;
    padding: 1px 5px;
    justify-content: space-around;
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    margin: 5px 0;
}
.card-footer button .icon {
    padding:  0;
}
.card-footer button .text-add {
        color: #0e7d91;
}
/* Sản phẩm */
.divide {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.divide pre {}

.divide::after,
.divide::before {
    content: "";
    border: 3px solid black;
    flex: 1;
}

.daily {
   margin-bottom: 20px;
   clear: both;
}
/* .daily img {
    
    
} */
.right {
    cursor: pointer;
    width: 60%;
    float: left;
    margin-top: 20px;
}

.left {
    float: right;
    margin-top: -20px;
    width: 38%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.left span {
    font-size: smaller;
    padding-top: 10px;
}

.hang {
    display: flex;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}

.cot {
    width: 100%;
    font-size: 70%;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cot p {
    padding-bottom: 14px;
    font-size: 14px;
}

.cot h5 {
    color: #8ccccd;
    font-size: 12px;
}

.youtube {
    border-bottom: 5px solid black;
    border-top: 5px solid black;
}

.hang img {
    width: 120px;
    height: 100%;
}

.vien {
    display: flex;
    align-items: center;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.vien pre {
    font-size: small;
}

.vien::after,
.vien::before {
    content: "";
    border-bottom: 0.1mm solid black;
    flex: 1;
}

.more {
    clear: both;
   margin: 30px 0px;
    display: flex;
    justify-content: center;
    position: relative;
}

.more a {
    text-decoration: none;
    color: black;

    font-size: smaller;
}

.more a:hover {
    text-decoration: underline;
}

.middle {
    border: 1px solid black;
    padding: 6px;
}

.more img {
    /* margin-top: 8px; */
    /* margin-left: 10px;
    margin-right: 5px; */
    width: 20px;
}

.duoi {
    margin-top: -10px;
    width: 100%;
    background-color: #000000;

}
footer{
    width: 100%;
}
footer mau {
    background-color: white;
}

.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.phonen {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: bold;
}

.link a {
    font-size: 10px;
}

.link a:hover {
    text-decoration: 1px solid #ef9608 underline;
}

.link {
    display: flex;
    flex-direction: column;
}

.title,
.link a {
    color: white;
    text-decoration: none;
}

.phonen {
    color: #ef9608;
}

.record {
    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
       gap: 20px;
}
.field{
    margin: 20px 20px;
}
.thongtin {
    margin: 0 auto;
    border-top: 2px solid white;
    color: white;
    width: 98%;
}

.thongtin span {
    font-size: 16px;
    position: relative;
    
}

.thongtin img {
    float: right;
    margin-top: -27px;
    margin-left: 40px;
}
.bannerngang {  
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 30px;
    
}
.bannerngang img {
    transition: .5s ease-in-out;
    display: block;
    width: 100%;
}
.bannerngang:hover img {
    transform: scale(1.1,1.1);
}
.dau {
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}

.noidung a {
    font-size: 15px;
    padding-bottom: 10px;
}

.dau,
.noidung a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-decoration: none;
}

.noidung a:hover {
    text-decoration: underline;
}

.noidung {
    display: flex;
    flex-direction: column;
}

.tren {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.tren p {
    font-size: 20px;
    padding-left: 80px;
    padding-right: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.giua textarea {
    border: 1px solid lightgray;
}

.giua {
    display: flex;
}

.tien {
    text-align: right;
}

.tien button {
    border: 1px solid #8ccccd;
    height: 50px;
}

.nut1 {
    width: 50%;
    color: #8ccccd;
    background-color: white;
}

.nut1:hover {
    background-color: #8ccccd;
    color: white;
}

.nut2 {
    width: 30%;
    color: white;
    background-color: #8ccccd;
}

.giua div,
.tien p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.giohang {
    width: 100%;
}

.nutdieuhuong {}

#next,
#pre {
    z-index: 5;
    position: relative;
    font-size: xx-large;
    cursor: pointer;
    margin-top: -5.3%;
    position: absolute;
    transition: 0.6s ease;
    color: white;
    padding: 1%;
}


/* #pre:hover,
#next:hover {
    background-color: rgba(0, 0, 0, 0.8);
} */

#next {
    right: 34%;
}

#pre {
    margin-left: 34%;
}

.nutchon {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -3%;
    display: flex;
    justify-content: center;
}
.show {
    
    width: 100%;
}
.show img {
    display: block;
}
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: none;
    border-radius: 50%;
    transition: 0.6s ease;
    border: 1px solid white;
}

.nutchon {}

.active,
.dot:hover {
    background-color: white;
}

.khung {
    margin-top: 2%;
    height: 83.5%;
    overflow: auto;
}

#place {
    text-align: center;
}

table {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-collapse: collapse;
}

table thead th {
    width: 10%;
    background-color: #F05454;
}

.bot {
    margin-top: 1%;
}

.subm {
    padding: 10px;
    cursor: pointer;
    background-color: #88E0EF;
    border: 2px solid #FF9B6A;
    color: white;
}

.subm:hover {
    opacity: 0.4;
}

.bot {
    display: flex;
    justify-content: space-around;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.myclock {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.myclock .letter {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    color: #E8630A;
}

.myclock .letter svg {
    background-color: yellow;
}

.myclock .timmer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    color: #d92121;
}
.nutmenu{
    position: fixed;
    z-index: 99999;
    display: none;
    top: 10%;
    left: 10px;
}
.nutmenu .an{
    display: none;
}
.nutmenu .nutmenuclick{
    background-color: #0e7d91;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
}
@media(max-width: 1100px){
  .daily .right{
    width: 100%;

   }
   nav{
    display: block;
   }
   .daily .left{
    width: 100%;
    margin-top: 10px;
   }

   nav {
    width: 0%;
}
}
@media(max-width: 800px){
    
    .container{
        width: 100%;
    }
    .col {
        width:45% ;
    }

    .nutmenu{
        display: block;
    }
    .nutmenu .an{
        display: none;
    }
}